<div data-section-id="{{ section.id }}" data-section-type="section-banner-v6" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v6 " style="background-color: {{section.settings.bg_section_color}};padding-top:60px">
    <div class="container container-v2">
      <div class="row">        
        <div class="col-lg-6 col-md-6">
          <div class="box-banner">
            <div class= "banner-image"> 
              <div class="box-img">
                <a href="{{section.settings.url_banner1}}">
                  <img data-src=" {% if section.settings.img_banner1 != blank %}{{section.settings.img_banner1 | img_url:'master'}} {% else %}//via.placeholder.com/1000x923{% endif %}" class="lazyload w-100 img-fluid" alt="_img">
                </a>
              </div>
            </div>
            <div class="info-banner info-banner-v6">
              <div class="content-banner">
                {% if section.settings.title_top1 != blank %}
                <p class="title-bottom  title-bottom-{{ section.id }}">{{section.settings.title_top1}}</p>
                {% endif %}
                {% if section.settings.title1 != blank %}
                <h3 class="title-banner title-banner-{{ section.id }}">{{section.settings.title1}}</h3>
                {% endif %}
                {% if section.settings.title_bottom1 != blank %}
                <p class="title-bottom1  title-bottom1-{{ section.id }}">{{section.settings.title_bottom1}}</p>
                {% endif %}
                {% if section.settings.btn_banner1 !=blank %}
                <a href="{{section.settings.url_banner1}}" class="btn-banner btn-banner-{{section.id}}">{{section.settings.btn_banner1}}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="box-banner">
            <div class="row">
              <div class="col-12 order-md-1 order-2">
                <div class="info-banner ">
                  <div class="content-banner">
                    {% if section.settings.title_top2 != blank %}
                    <p class="title-bottom title-bottom-{{ section.id }}">{{section.settings.title_top2}}</p>
                    {% endif %}
                    {% if section.settings.title2 != blank %}
                    <h3 class="title-banner title-banner-{{ section.id }}">{{section.settings.title2}}</h3>
                    {% endif %}
                    {% if section.settings.title_bottom2 != blank %}
                    <p class="title-bottom1  title-bottom1-{{ section.id }}">{{section.settings.title_bottom2}}</p>
                    {% endif %}
                    {% if section.settings.btn_banner2 != blank %}
                    <a href="{{section.settings.url_banner2}}" class="btn-banner btn-banner-{{section.id}}">{{section.settings.btn_banner2}}</a>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-12 order-md-2 order-1">
                <div class= "banner-image">    
                  <div class="box-img">
                    <a href="{{section.settings.url_banner2}}">
                      <img data-src="{% if section.settings.img_banner2 != blank %} {{section.settings.img_banner2 | img_url:'master'}} {% else %} //via.placeholder.com/1000x923{% endif %}" class="lazyload img-fluid w-100" alt="_img">
                    </a>
                  </div>
                </div> 
              </div>
            </div>
                  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .section-banner-v6 .box-banner .info-banner .content-banner .title-banner-{{ section.id }} {
    color: {{section.settings.color_title_banner}};
  }
  .section-banner-v6 .box-banner .info-banner .title-bottom-{{ section.id }} {
    color: {{section.settings.color_title_bottom}};
  }
  .section-banner-v6 .box-banner .info-banner .btn-banner-{{section.id}} {
    color: {{section.settings.color_btn}};
    border: 1px solid {{section.settings.border_btn}};
    background: {{section.settings.bg_btn}};
    transition: all .3s;
  }
  .section-banner-v6 .box-banner .info-banner .btn-banner-{{section.id}}:hover {
    color: {{section.settings.color_btn_hover}};
    background: {{section.settings.bg_btn_hover}};
    border: 1px solid {{section.settings.bg_btn_hover}};
  }
  @media (min-width: 768px) {
    .section-banner-v6 .box-banner .info-banner .title-bottom-{{ section.id }} {
      max-width: 65%;
    }
  }
  @media (min-width: 992px) {
    .section-banner-v6 .box-banner .info-banner .title-bottom-{{ section.id }} {
      max-width: 70%;
    }
  }

</style>

{% schema %}
{
  "name": "BANNER V6",
  "settings": [
    {
      "type": "color",
      "id": "bg_section_color",
      "label": "Background color",
      "default": "#e9e9e9"
    },
    {
      "type": "header",
      "content": "Setting banner 1"
    },
    {
      "type": "image_picker",
      "id": "img_banner1",
      "label": "Image",
      "info": "100x923px recommended"
    },
    {
      "type": "text",
      "id": "title_top1",
      "label": "Title vertical banner",
      "default": "Best sellers guide"
    },
    {
      "type": "text",
      "id": "title1",
      "label": "Title Banner",
      "default": "BEST FRUITS"
    },
    {
      "type": "text",
      "id": "title_bottom1",
      "label": "Content bottom",
      "default": "-16% SAVE"
    },
    {
      "type": "text",
      "id": "btn_banner1",
      "label": "Button banner",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_banner1",
      "label": "URL banner 1",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Setting banner 2"
    },
    {
      "type": "image_picker",
      "id": "img_banner2",
      "label": "Image",
      "info": "100x923px recommended"
    },
    {
      "type": "text",
      "id": "title_top2",
      "label": "Content top ",
      "default": "SPECIAL"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Title Banner",
      "default": "PURE SPICES"
    },

    {
      "type": "text",
      "id": "title_bottom2",
      "label": "Content bottom",
      "default": "-16% SAVE"
    },
    {
      "type": "text",
      "id": "btn_banner2",
      "label": "Button banner",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_banner2",
      "label": "URL images banner 2",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Color Banner"
    },
    {
      "type": "color",
      "id": "color_title_banner",
      "label": "Color Title Banner",
      "default": "#222"
    },
    {
      "type": "color",
      "id": "color_title_bottom",
      "label": "Color Sub title",
      "default": "#222"
    },
    {
      "type": "color",
      "id": "color_btn",
      "label": "Color Button",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "border_btn",
      "label": "Border Button",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_btn_hover",
      "label": "Color Button Hover",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "bg_btn",
      "label": "Background Button ",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "bg_btn_hover",
      "label": "Background Button Hover",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "BANNER V6",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}